<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!">
    <div>
      <h1 id="top">Just because it's your birthday</h1>
    </div>
    <div class="">
      <h1 id="middle">We listed out things</h1>
      <h1 id="bottom">that you're actually good at.</h1>
    </div>
    <div class="blue-text">
      <h3>SWIPE LEFT ----> </h3>
    </div>
  </a>
  <a class="carousel-item" href="#two!">
    <div class="">
      <img src="http://cfile24.uf.tistory.com/image/24609E4D51FF50D334B8FB" alt="guitar">
    </div>
    <div class="">
      <h1>Playing guitar</h1>
    </div>
  </a>
  <a class="carousel-item" href="#three!">
    <div class="">
      <img src="https://i.ytimg.com/vi/AJFRvkNF6Wg/maxresdefault.jpg" alt="">
    </div>
    <div class="">
      <h1>Playing drums</h1>
    </div>
  </a>
  <a class="carousel-item" href="#four!">
    <div class="">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/53/94/12/5394128f0e710388854639cc54b66b92.jpg" alt="">
    </div>
    <div class="">
      <h1>Magic Tricks</h1>
    </div>
  </a>
  <a class="carousel-item" href="#five!">
    <div class="">
      <img src="http://pixel.nymag.com/imgs/fashion/daily/2016/04/06/06-baby-beer.w1200.h630.jpg" alt="">
    </div>
    <div class="">
      <h1>Drinking</h1>
    </div>
  </a>
  <a class="carousel-item" href="#six!">
    <div class="">
      <img src="http://www.reallyrisa.com/wp-content/uploads/2013/05/beach-baby.jpg" alt="">
    </div>
    <div class="">
      <h1>Sitting on Water</h1>
    </div>
  </a>
  <a class="carousel-item" href="#seven!">
    <div class="">
      <img src="https://img.wonderhowto.com/img/49/56/63499816467677/0/squeaky-clean-trick-eating-orange-without-getting-your-fingers-all-sticky.w654.jpg" alt="">
    </div>
    <div class="">
      <h1>Eating Orange</h1>
    </div>
  </a>
  <a class="carousel-item" href="#eight!">
    <iframe src="//giphy.com/embed/3o7abldj0b3rxrZUxW" width="100%" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="">
      <h1>Dancing</h1>
    </div>
  </a>
  <a class="carousel-item" href="#nine!">
    <iframe src="//giphy.com/embed/FOo4JKj6TUQuY" width="100%" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="">
      <h1>Sleeping</h1>
    </div>
  </a>
  <a class="carousel-item" href="#ten!">
    <div class="">
      <img src="http://i.imgur.com/FZkWpJf.jpg" title="source: imgur.com" width="100%" height="1600"/>
    </div>
    <div class="">
      <h1>Arguing with Junseok</h1>
    </div>
  </a>
  <a class="carousel-item" href="#eleven!">
    <div class="">
      <iframe src="//giphy.com/embed/26FPGI3ZgduhYYVTa" width="100%" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="">
      <h1>Quoting "Friends"</h1>
    </div>
  </a>
  <a class="carousel-item" href="#twelve!">
    <div class="">
      <iframe src="//giphy.com/embed/GuiLoVcenVXzO" width="100%" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="">
      <h1>Foreign Accent</h1>
    </div>
  </a>
  <a class="carousel-item" href="#thirteen!">
    <iframe src="//giphy.com/embed/6jprwZ2Ir7kYM" width="100%" height="1000" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="">
      <h1>Being Rude to older brothers</h1>
    </div>
  </a>
  <a class="carousel-item" href="#fourteen!">
    <div class="">
      <img src="http://upload2.inven.co.kr/upload/2015/06/20/bbs/i12593104267.jpg" alt="">
    </div>
    <div class="">
      <h1>잘난척하기</h1>
    </div>
  </a>
  <a class="carousel-item" href="#fifteen!">
    <div class="">
      <img src="http://ph.idomin.com/news/photo/200702/209778_165385_3418.jpg" alt="">
    </div>
    <div class="">
      <h1>부모님께 아부하기</h1>
    </div>
  </a>
  <a class="carousel-item" href="#sixteen!">
    <iframe src="//giphy.com/embed/xUPOqrl3x2SkKjE3Is" width="100%" height="800" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="">
      <h1>Making People Laugh</h1>
    </div>
  </a>
  <a class="carousel-item" href="#seventeen!">
    <div class="">
      <img src="http://i.imgur.com/0PMIYHL.jpg" title="source: imgur.com" />
    </div>
    <div class="">
      <h1>Sigh...잘생기기...</h1>
    </div>
  </a>
  <a class="carousel-item" href="#eighteen!">
    <div class="">
      <h1>Happy 26th Man.</h1>
    </div>
  </a>

</div>
