.carousel-slider {
    height: 2400px !important;
}
 h1, h2, h3 {
   color: black;
   text-align: center;
   font-weight: bold;

 }

#top {
  margin-top: 5em;
  margin-bottom: 2em;
}

#middle {
  margin-bottom: 2em;
}

#bottom {
  margin-bottom: 2em;
}

h1 {

}

h2 {
  margin-bottom: 2em;
}

h3 {
  color: lighten($primary-color, 10%);

}
